<% @bookmarks.each do |bookmark| %>
	<div class="bookmark-item col-md-12">
		<div class="col-md-9">
			<% if bookmark.favicon %>
				<%= image_tag bookmark.favicon, class: "favicon" %>
			<% end %>
			<%= bookmark.title %> <br>
			<%= bookmark.description %>
		</div>
 		<div class="col-md-3">
	 		<div class="bookmark-item-actions pull-right">
	 			<%= link_to bookmark_likes_path(bookmark), method: :post do %>
	 				<i class="fa fa-heart <% if bookmark.likes.length != 0 %>active<% end %>"></i>
	 			<% end %>
	 			<%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to permanently delete this bookmark?" }, remote: true do %>
	 				<i class="fa fa-share"></i>
	 			<% end %>
	 			<%= link_to toggle_active_bookmark_path(bookmark), method: :patch, remote: true do %>
	 				<i class="fa fa-archive"></i>
	 			<% end %>
	 			<%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to permanently delete this bookmark?" }, remote: true do %>
	 				<i class="fa fa-trash"></i>
	 			<% end %>
	 		</div>
 		</div>
	</div>
<% end %>


