<!-- Modal -->
<div class="modal fade" id="addBookmark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Add a Link</b> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <%= form_for @bookmark, remote: true do |f| %>
            <div class="form-group">
            <%= f.text_field :link, label: false, placeholder: "www.example.com/article.html", class: "form-control" %> 
            </div>
            <div class="form-group">
            <%= f.text_field :tag_list, placeholder: "Add your tags, separated by commas", class: "form-control" %>
            </div>
            <%= f.hidden_field :viewable_by, value: current_user.id %>
          
           <%= f.submit "Add", class: "btn btn-primary btn-form" %>
            
            
          <% end %>

      </div>
      
    </div>
  </div>
</div>