<% @bookmarks.each do |bookmark| %>
	<div class="bookmarkListItem col-md-9">
		<div class="bookmarkClicks col-md-1 hidden">
			<div class="clickCount">
				<i class="fas fa-sort-up"></i>
				<span>40</span>
			</div>
		</div>
		<!-- bookmark thumbnail -->
		<div class="bookmarkImage col-md-2">
			<% if !bookmark.thumbnail.empty? %>
			<%= image_tag "https://afrvvhywen.cloudimg.io/crop/200x200/x/#{bookmark.thumbnail}" %>
			<% else %>
				<%= image_tag logo_clearbit(bookmark.link) %>
			<% end %>
		</div>
		
		<!-- bookmark body -->
		<div class="body col-md-8">
			<div class="bookmarkTitle">
				<span>
					<% if params[:edit] == "#{bookmark.id}-enabled" %>
						<%= best_in_place bookmark, :title %>
					<% else %>
						<%= link_to bookmark.title.capitalize, [bookmark, bookmark.article] %>
					<% end %>
				</span>
			</div>
			<div class="bookmarkLink">
				<% if params[:edit] == "#{bookmark.id}-enabled" %>
				 	<%= best_in_place bookmark, :link %> 
				<% else %>
					<%= link_to bookmark.try(:host), bookmark.link, target: "_blank" %>
				<% end %>
			</div>
			<div class="bookmarkDescription">
				<%= best_in_place_if params[:edit] == "#{bookmark.id}-enabled", bookmark, :description, as: :textarea %>
			</div>
			<div class="bookmarkTags">
				<% if params[:edit] == "#{bookmark.id}-enabled" %>
				 	<%= best_in_place bookmark, :tag_bookmark %> 
				<% else %>
					<% bookmark.tags.each do |tag| %>
						<%= link_to bookmarks_path(tag: tag.name) do %>
							# <%= tag %>
						<% end %>
					<% end %>		
				<% end %>
			</div>
			<div class="bookmarkCreatedDate">
				<% if bookmark.created_at > Time.now.beginning_of_day %>
    				<%="#{time_ago_in_words(bookmark.created_at).capitalize} ago"%>  
				<% else %>
   					<%= bookmark.created_at.strftime("%b %d, %Y").capitalize %>  
				<% end %>
			</div>
		</div>

		<div class="bookmarkActions">
			<% if bookmark.like %>
				<%= link_to bookmark_like_path(bookmark_id: bookmark.id, id: bookmark.like.id), method: :delete, remote: true do %>
		 				<i class="fa fa-heart active"></i>
		 		<% end %>
	 		<% else %>
		 		<%= link_to bookmark_likes_path(bookmark), method: :post, remote: true do %>
		 				<i class="far fa-heart"></i>
		 		<% end %>
	 		<% end %>

			<% if params[:edit] != "#{bookmark.id}-enabled" %>
				<%= link_to request.query_parameters.merge(edit: "#{bookmark.id}-enabled") do %>
					<i class="far fa-edit"></i>
				<% end %>
			<% else %>
				<%= link_to request.query_parameters.merge(edit: "disabled") do %>
					<i class="far fa-edit"></i>
				<% end %>
			<% end %>
			<%= link_to toggle_active_bookmark_path(bookmark), method: :patch, remote: true do %>
				<i class="fas fa-archive"></i>
			<% end %>
			<%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to permanently delete this bookmark?" }, remote: true do %>
				<i class="far fa-trash-alt"></i>
			<% end %>
		</div>
	
	</div>

<% end %>



