<% @bookmarks.each do |bookmark| %>
	<div class="bookmark-item col-md-12">
		<div class="col-md-9">
			<p class="bookmark-title">
			<% if bookmark.favicon %>
				<%= image_tag bookmark.favicon, class: "favicon" %>
			<% end %>
			<%= bookmark.title %>
			</p>
			<p><%= link_to bookmark.link, bookmark.link, class: "bookmark-url" %></p> 
			<%= bookmark.description %>
			<p class="bookmark-tags"><b><%= bookmark.tag_list %></b></p>
			 
		</div>
 		<div class="col-md-3">
	 		<div class="bookmark-item-actions pull-right">
	 			<% if bookmark.like %>
					<%= link_to bookmark_like_path(bookmark_id: bookmark.id, id: bookmark.like.id), method: :delete do %>
		 				<i class="fa fa-heart active"></i>
		 			<% end %>
	 			<% else %>
		 			<%= link_to bookmark_likes_path(bookmark), method: :post do %>
		 				<i class="far fa-heart"></i>
		 			<% end %>
	 			<% end %>
	 			<%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to permanently delete this bookmark?" }, remote: true do %>
	 				<i class="fa fa-share"></i>
	 			<% end %>
	 			<%= link_to toggle_active_bookmark_path(bookmark), method: :patch, remote: true do %>
	 				<i class="fa fa-archive"></i>
	 			<% end %>
	 			<%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to permanently delete this bookmark?" }, remote: true do %>
	 				<i class="fa fa-trash"></i>
	 			<% end %>
	 			<%= link_to "Edit", edit_bookmark_path(bookmark), "data-toggle" => "modal", :class => 'btn btn-mini', :id => 'edit_modal_link', "data-toggle" => "modal" %>


	 		</div>
 		</div>
	</div>
<% end %>


