<!-- Modal -->
<div class="modal fade" id="addBookmark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Add a Link</b> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row add-bookmark">
          <%= form_for @bookmark, html: { class: "form-inline new-bookmark"}, remote: true do |f| %>
            <div class="col-md-9">
            <%= f.text_field :link, label: false, placeholder: "www.example.com/article.html", class: "form-control" %> 
            <%= f.text_field :tag_list, value: f.object.tag_list.to_s, placeholder: "Add Tags" %>
            <%= f.hidden_field :viewable_by, value: current_user.id %>

            </div>
            <div class="col-md-3">
            <%= f.submit "Add", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>