


<% @bookmarks.each do |bookmark| %>
	<div class="bookmarkListItem col-md-12">
		<div class="bookmarkClicks col-md-1">
			<div class="clickCount">
				<i class="fas fa-sort-up"></i>
				<span>40</span>
			</div>
		</div>
		<div class="body col-md-8">
			<div class="bookmarkTitle">
				<span>
					<% if params[:edit] == "enabled" %>
						<%= best_in_place_if params[:edit] == "enabled", bookmark, :title %>
					<% else %>
						<%= link_to bookmark.title, [bookmark, bookmark.article] %>
					<% end %>
				</span>
			</div>
			<div class="bookmarkLink">
				<% if params[:edit] == "enabled" %>
				 	<%= best_in_place_if params[:edit] == "enabled", bookmark, :link %> 
				<% else %>
					<%= link_to bookmark.try(:host), bookmark.link, target: "_blank" %>
				<% end %>
			</div>
			<div class="bookmarkDescription">
				<%= best_in_place_if params[:edit] == "enabled", bookmark, :description, as: :textarea %>
			</div>
			<div class="bookmarkCreatedDate">
				<% if bookmark.created_at > Time.now.beginning_of_day %>
    				<%="#{time_ago_in_words(bookmark.created_at).capitalize} ago"%>  
				<% else %>
   					<%= bookmark.created_at.strftime("%b %d, %Y").capitalize %>  
				<% end %>
			</div>
		</div>
		<div class="bookmarkImage col-md-3">
			<% if !bookmark.thumbnail.empty? %>
			<%= image_tag "https://afrvvhywen.cloudimg.io/crop/200x200/x/#{bookmark.thumbnail}" %>
			<% end %>
		</div>	
	</div>

<% end %>



