<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to bookmarks_path, class: "navbar-brand" do %>
        <i class="far fa-bookmark"></i> Reader
      <% end %>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
          <%= form_tag search_bookmarks_path, method: :get, class: "navbar-form navbar-left col-md-5" do |f| %>
          <div class="form-group">
          <%= text_field_tag :q, params[:q], class: "form-control" %>
          <%= submit_tag "search", name: nil, class: "btn btn-nav hidden" %>
          </div>
          <% end %> 
      <% end %>
     </ul>

      <ul class="nav navbar-nav navbar-right">
 
    
        <% if !user_signed_in? %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li> 
           <li><%= link_to "Log In", new_user_session_path %></li> 
        <% else %>
        
          <li>
            <p class="navbar-btn">
              <%= link_to "#", data: {toggle: "modal", target: "#addBookmark" }, class: "btn btn-primary btn-nav" do %>
                <i class="fa fa-plus"></i> Add Link
               <% end %>
            </p>  
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          
        <% end %>
      </ul>
    </div>
  </div>
</nav>


