<ul class="sidebar">
	<li class="sidebar-brand"><span class="mark">InstaPaper</span></li>
	<li class="sidebar-item">
		<%= link_to bookmarks_path do %>
			<i class="fa fa-igloo"></i> Home
		<% end %>
	</li>
	<li class="sidebar-item">
		<%= link_to liked_bookmarks_path do %>
			<i class="far fa-heart"></i> Liked
		<% end %>
	</li>
	<li class="sidebar-item">
		<%= link_to archived_bookmarks_path do %>
			<i class="fa fa-archive"></i> Archived
		<% end %>
	</li>
	<li class="sidebar-item"><i class="far fa-comment-alt"></i>  Notes</li>
	<hr>
	<li class="sidebar-item">
		<%= link_to "#", data: {toggle: "modal", target: "#addBookmark"} do %>
			<i class="fa fa-plus"></i> Add Link
		<% end %>
	</li>
	<hr>
	<% @tags.each do |tag| %>
		<li class="sidebar-item">
			<%= link_to bookmarks_path(tag: tag.name) do %>
			 <b># <%= tag %></b>  <span class="badge"><%= tag.taggings_count %></span> 
			<% end %>
		</li>
	<% end %>
	<hr>
	<li class="sidebar-item">
		<%= link_to edit_user_registration_path do %>
		<span class="fas fa-user-edit"></span> Edit Profile
		<% end %>	
		</li>

</ul>

